.tac {
  text-align: center;
}

form {
  background-color: #ffe1c5;
}

form h1 {
  text-align: center;
}

.checkbox {
  font-size: 1.5rem;
  margin: 20px auto;
  border: 1px dotted #242424;
  width: 50%;
  text-align: center;
}

.submitBtn {
  text-align: center;
}

.submitBtn button {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.clearBtn {
  text-align: center;
  margin: 20px;
}

.clearBtn a {
  background-color: #a8e6ff;
  color: #242424;
  text-decoration: none;
  border: 1px solid #242424;
  padding: 5px;
  font-weight: bold;
}

.graph {
  margin: auto;
}

.videoBox {
  text-align: center;
}
